/* css reset */
*{
    margin: 0px;
    padding: 0px;
}

/* css variable */
:root{
    --navbar-height: 59px;
}
/* navigation bar */
#navbar{
    display: flex;
    align-items: center;
}
/* nav bar Logo and image */
#logo{
    margin: 34px 45px;
}
#logo img{
    height: 100px;
}
/* nav bar List Styling */
#navbar{
    position: relative;
}
#navbar ul{
    display: flex;
    font-size: 1.3rem;
}
#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}
#navbar ul li{
    list-style: none;
    font-size: 1.3rem;
    
}
#navbar ul li a{
    color: white;
    display: block;
    padding: 3px 22px;
    text-decoration: none;
    border-radius: 90px;
}
#navbar ul li a:hover{
    color: black;
    background-color: white;
}
/* home section */
#home{
    display: flex;
    flex-direction: column;
    padding
}